@font-face {
	font-family: 'avenir-med';
	src:url('fonts/AvenirNextRoundedStd-Med.eot');
	src:url('fonts/AvenirNextRoundedStd-Med.eot?#iefix') format('embedded-opentype'),
		url('fonts/AvenirNextRoundedStd-Med.woff') format('woff'),
		url('fonts/AvenirNextRoundedStd-Med.ttf') format('truetype'),
		url('fonts/AvenirNextRoundedStd-Med.ttf#avenir-med') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenir-bold';
	src:url('fonts/AvenirNextRoundedStd-Bold.eot');
	src:url('fonts/AvenirNextRoundedStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/AvenirNextRoundedStd-Bold.woff') format('woff'),
		url('fonts/AvenirNextRoundedStd-Bold.ttf') format('truetype'),
		url('fonts/AvenirNextRoundedStd-Bold.ttf#avenir-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}