/* ================================================ 1279 ======================================= */

@media only screen and (max-width : 1279px) {

	.explorebox {
	    width: calc(33.33% - 30px);
	}

	.explorebox span, .explorebox .flexslider li span {
		height: 310px;
	}

	.footernav {
		width: 495px;
	}

}



/* ================================================ 1024 ======================================= */

@media only screen and (max-width : 1100px) {

	.container.c2 .flexslider {
	    width: 50% !important;
	}

	.container.c2 .flexslider li span {
		width: 100% !important;
	}

	.container.c2 .sliderdesc {
	    width: calc(50% - 30px);
	}

	.footernav {
		width: 320px;
	}

	.top-person .person-wrapper, .top-person .open-details .person-wrapper {
		padding: 50px 0 55px;
		top: -410px;
	}

}


/* ================================================ 1000 ======================================= */

@media only screen and (max-width : 1000px) {

	.aboutbox {
		width: 89%;
	}
	
}



/* ================================================ 900 ======================================= */

@media only screen and (max-width : 900px) {

	.explorebox span, .explorebox .flexslider li span {
	    height: 240px;
	}

	.footernav {
	  width: 320px;
	}

	.footernav {
  		float: left;
  		 margin-top: 90px;

	}

	div#footer {
	  margin-bottom: 0px;
	  height: 300px;
	  padding: 45px 0px 0px 0px;
	}



}







/* ================================================ 768 ======================================= */

@media only screen and (max-width : 768px) {

	.container.c2 .flexslider {
	    width: 100% !important;
	    float: none;
	}

	.container.c2 .sliderdesc {
	    width: 100%;
	    float: none;
	    position: relative;
	    margin-top: 20px;
	}

	.container.c2 h2 {
		padding-bottom: 0;
	}

	.lightbox {
	    width: 90%;
	}
	
	.container.c2 .flexslider li span {
		height:240px;
	}
	
	.flex-control-nav { bottom: 5px; }
	.flexevents .flex-control-nav { bottom: 5px; }

	#dining .container {
	  height: 655px;
	}

	.memli {
  		width: 48%;
	}

	.development-divider .team > li {
 		width: 45.6%;
	}

	.top-person .person-wrapper, .top-person .open-details .person-wrapper {
		padding: 90px 0;
		top: -490px;
	}
	
}

/* ================================================ 700 ======================================= */

@media only screen and (max-width : 700px) {
	
	.logo img {
	    min-width: 200px;
	    position: absolute;
	    width: 40%;
	}

	.explorebox span, .explorebox .flexslider li span {
	    height: 190px;
	}

	.copyright {
	    float: none;
	    width: auto;
	    text-align: center;
	    font-size: 12px;
	    line-height: 22px;
	}

	.footernav {
	    float: none;
	    text-align: center;
	    width: auto;
	}

	.footersocial {
	    float: none;
	    text-align: center;
	    padding: 75px 0 40px 0;
	}
	
	.wpcf7-list-item {
	  margin-right: 4px;
	  border: 1px solid #ddd;
	  padding: 10px;
	  margin-top: 6px;
	  position: Relative;
	  top: 16px;
	  line-height: 23px;
	  display: block;
  	}

	.address, .phone {
		text-align: center;
	}

}



/* ================================================ MOBILES BELOW 650 ======================================= */

@media only screen and (max-width : 650px) {
	.flex-caption { display: none; }
	.accomodations, .events, .dining, .specials { width: 90%; margin: auto; float: none; position: relative; bottom: inherit; }
	.flexaccomodations, .flexdining, .flexspecials, .flexevents { width: 100%; margin: 0 0 30px 0}
	.events h3, .accomodations h3, .dining h3, .specials h3 { font-size: 32px; }
	.explorebox { float: none; width: 90%;  margin: 15px; }
	div#explore { padding-bottom: 340px; }

	.logo {margin-left: -7px;}
	
	.lining {
		padding: 60px 20px;
	}
	.home .wpcf7 { width:inherit;}

	.address, .phone {
		text-align: center;
	}

	.memli {
		width: 100%;
	}

	.slider-caption> p {
  		font-size: 13px;
	}

	.slider-caption {
	  width: 70%;
	  left: 15%;
	}

}



/* ================================================ 600 ======================================= */

@media only screen and (max-width : 600px) {

	.logo {
	    text-align: center;
	    float: none;
	}

	.logo img {
		position: relative;
	}
	
	#explore h3 { font-size: 42px; line-height: 45px;   padding: 30px 0; }
	.reserve {
	    float: none;
	    margin: 0;
	    width: 100%;
	    text-align: center;
	}

	.reserve > ul {
	    float: none;
	    width: 100%;
	}

	#header a.btn1 {
	    float: none;
	}

	a.btn1 {
	    display: none;
	    font-size: 18px;
	    padding: 10px 35px;
	}
	
	a.mobihid {
		display: inline-block;
	}

	.reserve ul li a {
	    font-size: 18px;
	    height: 35px;
	    line-height: 36px;
	    width: 35px;
	}

	.explorebox {
	    float: none;
	}

	.explorebox span, .explorebox .flexslider li span {
	    height: 440px;
	}
	
	.copyblock h2 { line-height: 32px }

	#dining .container {
	  height: 800px;
	}

	div#header {
		position: relative;
		margin-top: 0;
	}

	div#slider {
		margin-top: 10px;
	}
	
	.address {
		text-align: left;
	}
	
	
	
	
	
	.ecp-home img {
		width: 60%;
	}
	
	.home .menu li {
  		display: block;
  		padding: 9px 0;
  		float: none;
  		text-align: center;
  		border-bottom: 1px solid #ddd;
  		width: 100%;
  		margin-right: 0;
  	}
	
	#footer .right {
	  position: relative;
	  width: 75%;
	  top: auto;
	  padding: 10px 0;
	  text-align: center;
	  right: auto;
	  margin: auto;
	  float: none;
	}
	
	#footer .right p {
		line-height: 16px;
		padding: 0;
	}
	
	#footer .left p span.tel {
		
	}
	#footer .left p {
		line-height: 16px;
		padding: 0;
	}
	
	#footer .left {
	  	position: relative;
  	 	width: 100%;
  		top: auto;
  		padding: 30px 0 10px 0;
  		text-align: center;
  		float: none;
  		left: auto;
	}
	
	
	.page-slider .item > div p { font-size: 13px; }
	.hiddennav { display: block; }
	.top-person .left { width: 100%; }
	.page .container { padding-top: 70px; width: 90%; }
	.top-person .right { width: 100%; }
	
	.press-container { width: 100% }
	
	.column_one_half, .column_one_third, .column_one_fourth, .column_two_thirds, .column_three_fourths { width: 100%; float: none; }
	
	.team > li { width: 100%; }
	.development-divider .team > li { width: 100%; }
	.liner { width: 100%; text-align: left; max-width: 100%;}
	
	.menu { display: none; }
	.home .menu { display: block; }
	.logo img {   position: relative; width: 100px;  min-width: 100px; }
	.contact-container p.address { width: 100%; float: none; text-align: left; }
	.contact-container .tel-fax  { width: 100%; float: none; }
	.container .content { width: 100%; }
}



/* ================================================ 500 ======================================= */

@media only screen and (max-width : 500px) {

	.flexslider li span, .flexevents {
		height: 230px;
	}
	
	.flexspecials li span {
		height: 300px;
	}


	.explorebox span, .explorebox .flexslider li span {
	    height: 360px;
	}

	div#header {
		/* margin-top: -203px; */
	}

	div#slider {
		margin-top: 30px;
	}

}



/* ================================================ 400 ======================================= */

@media only screen and (max-width : 400px) {

	.explorebox span, .explorebox .flexslider li span {
	    height: 310px;
	}

		/* footer edits */

	.footersocial {
	  top: 55px;
	}

	ul#menu-footer-menu {
	  bottom: 50px;
	}

	div#footer {
		height: 300px;
	}

	.address {

  line-height: 40px;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  letter-spacing: 0.1em;
  float: none;
  text-align: center;
   width: inherit;
}

.address a {
	font-size:  9px;
	float: none;
	width: inherit;
}

.phone a {
	font-size: 21px;
}

.phone {
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  letter-spacing: 0.1em;
  /* float: left; */
  width: 100%;
  text-align: center;
}

.copyright {
  float: none;
  width: auto;
  text-align: center;
  font-size: 10px;
  line-height: 22px;
  position: relative;
  bottom: -165px;
}

.footernav {
  position: relative;
  bottom: 90px;
  margin-top: 0px;
}

#footer .container > a img { width: 80px }

}

























